<div class="Dashboard-Container">
    <p class="Dashboard-Header">Astronauts in space</p>
    <hr>
    <table class="Dashboard-Table">
        <tbody>
            <tr>
                <th class="Dashboard-Table-Column-left">Craft</th>
                <th class="Dashboard-Table-Column-rght">Name</th>
            </tr>
            <tr ng-repeat="astronaut in $ctrl.astronauts.people">
                <td class="Dashboard-Table-Column-left">{{astronaut.craft}}</td>
                <td class="Dashboard-Table-Column-rght">{{astronaut.name}}</td>
            </tr>
        </tbody>
    </table>
</div>