.HomePage-container {
    height: 100vh;
    width: 100vw;
    background: #7ae2cf;
background: -webkit-linear-gradient(bottom left, #7ae2cf 0%, #48bace 40%, #035c66 100%);
background: -o-linear-gradient(bottom left, #7ae2cf 0%, #48bace 40%, #035c66 100%);
background: linear-gradient(to top right, #7ae2cf 0%, #48bace 40%, #035c66 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ae2cf', endColorstr='#035c66',GradientType=1 );
}